[package]
name = "crawler"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytes = "1.2.0"
either = { version = "1.7.0", features = ["serde"] }
itertools = "0.10.3"
log = "0.4.17"
reqwest = "0.11.11"
# scraper = "0.13.0"
serde = { version = "1.0.140", features = ["derive"] }
serde_json = "1.0.82"
simple_logger = "2.2.0"
thiserror = "1.0.31"

[dev-dependencies]
simple_logger = "2.2.0"
futures = "0.3.21"
tokio = { version = "1.19.2", features = ["macros", "rt-multi-thread"] }

